@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "custom";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #092E20;
  --color-secondary: #3776AB;
  --color-accent: #FFD43B;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-outfit: var(--font-outfit);
  --font-black_ops_one: var(--font-black_ops_one);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

main {
  flex: auto;
}

.ops {
  font-family: var(--font-black_ops_one);
}