@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "custom";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #092E20;
  --color-secondary: #3776AB;
  --color-accent: #FFD43B;
  --color-base-100: #ffffff;
  --color-base-content: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-outfit: var(--font-outfit);
  --font-black_ops_one: var(--font-black_ops_one);
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

main {
  flex: auto;
}

.ops {
  font-family: var(--font-black_ops_one);
}

.btn:hover {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}